<section class="w-full max-w-5xl mx-auto" [attr.aria-busy]="loading">

  <ng-container *ngIf="loading; else contentTpl">
    <app-list-skeleton></app-list-skeleton>
  </ng-container>

  <ng-template #contentTpl>
    <ng-container *ngIf="participants.length > 0; else emptyStateTpl">
      <div class="border border-gray-200 rounded-xl overflow-hidden">
        <div class="flex items-center gap-2 p-3 sm:p-4 border-b border-gray-200">
          <lucide-icon name="coffee" class="w-5 h-5 text-indigo-600 shrink-0"></lucide-icon>
          <h3 class="font-semibold text-zinc-900 text-base sm:text-lg">Próximos Cafés</h3>
        </div>
        <ng-container *ngFor="let date of sortedDates; trackBy: trackDate">
          <div class="space-y-4 animate-fade-in p-3 sm:p-4">
            <div class="flex flex-col sm:flex-row sm:items-center gap-2 pb-2 border-b border-gray-200">
               <div class="flex items-center gap-2">
                <ng-container [ngSwitch]="getDateStatus(date).icon">
                    <lucide-icon *ngSwitchCase="'clock'" name="clock" class="w-5 h-5" [ngClass]="getDateStatus(date).color"></lucide-icon>
                    <lucide-icon *ngSwitchCase="'x-circle'" name="x-circle" class="w-5 h-5" [ngClass]="getDateStatus(date).color"></lucide-icon>
                    <lucide-icon *ngSwitchDefault name="calendar" class="w-5 h-5" [ngClass]="getDateStatus(date).color"></lucide-icon>
                </ng-container>
                <h3 class="text-lg sm:text-xl font-semibold text-zinc-900 capitalize">{{ formatDate(date) }}</h3>
              </div>
              <span class="inline-flex text-xs sm:text-sm px-2 py-0.5 sm:py-1 rounded-full font-semibold text-white w-max items-center justify-center" [ngClass]="getDateStatusBg(date).color">
                {{ getDateStatus(date).label }}
              </span>
            </div>
            <div class="grid gap-4">
              <app-participant-card
                *ngFor="let participant of groupFor(date); trackBy: trackParticipant"
                [participant]="participant"
                [date]="date"
                (edit)="onEdit($event)"
                (delete)="onDelete($event)"
                (updateItem)="onItemToggle($event)">
              </app-participant-card>

            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #emptyStateTpl>
      <app-empty-state></app-empty-state>
    </ng-template>

  </ng-template>
</section>